
*{
    scroll-behavior: smooth;
    font-family: sans-serif;
}
body{
    margin:0px;
    background-color: #f3f1f8;
}

/* ---------------- NavBar styling -------------------*/
#navlist{
    display: flex;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: center;
    position: sticky;
    background-color: #e9e9f7;
    margin: 0px;
    height:77px;
    transition: top 0.3s;}
    
.navfadein{
    animation: fadein 0.5s ease-in;
}

@keyframes fadein {
    0%,10% {
        opacity: 25%;
    }
    70% ,90%{
        opacity: 100%;

    }
}

.navfadeout{
    animation: fadeout 0.7s ease-out;
    transition: all 0.7s;

}
@keyframes fadeout{
    0%,10% {
        background-color: var('--hover-color');
    }

    70% ,90%{
        background-color: var('#e9e9f7');
    }
}

.usable-item{
    opacity: 50%;
    
}
   


.list-item{
    font-size: large;
    font-weight:bold;
    padding-right: 10px;
    padding-left: 10px;
}
/* ------------------------------------ */
#firstContainer{
    width:100%;
    height:max-content;
    display: grid;
    justify-items: center;
    justify-content: center;
    padding-left:10px;
}

/******** Title section ********/

a
{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.inline{
    display: inline;

}
h1{
    text-align: center;
    margin: 0%;
    font-size:86px;
    
}
#home{
    display: grid;
    justify-content: center;
}
#innerHome{
    display:flex;
    justify-content: center;
    align-items: baseline;
}
.icon{
    padding-left: 18px;
    padding-right: 18px;
    font-size: 4em;

}
.icon:hover{
    transform: 0.5s ease;
}
#lists{
    color:#f84f38;
}
/*********** 2nd container ***********/
#secondContainer{
    padding:50px 0px;
    width:100%;
    display: flex;
    justify-content: center;
}
.colourfulButtons{
    border-radius: 20px;
    opacity: 50%;
    height:fit-content;
    width: fit-content;
    font-size: 18px;
    padding:10px 15px;
    font-weight: bold;
    margin:5px;
    border-color: lightgray;

}

/*********** 3rd container ***********/
#thirdContainer{
    display:flex;
    height:fit-content;
    width:fit-content;
    border: #eae7f3 solid 1px;
    border-radius: 10%;
    padding:5px;
    gap:5px;
    margin:20px 70px;

}
.generalStyle-3{
    height:100%;
    background-color: white;
    border-radius: 10%;
}
.emptyDiv-3{
    width:70%;
    height: 50px;
    background-color: #f3f1f8;
    border-radius: 5%;
}
#emptyParent-3-1{
    display:grid;
    grid-template-columns: 50% 50%;
    gap:10px;
    height:fit-content;
    width: 100%;
    justify-content: space-evenly;
    padding:5px;

}
#listDiv-3-1{
    display: grid;
    
}
.listChoices-3-1{
    width:100%;
    border: 0px;
    font-size: 12px;
    font-weight: 200;
    padding:10px 70px 10px 7px;
    background-color: white;
}
#center{
    display: flex;
    justify-content: center;
}